<<<<<<< HEAD
<html> 
 <head> 
  <title>Puppet test - New Feature</title> 
 </head> 
  <body>
   <h1>Welcome to Hell: "<%=@application_title%>"</h1>
      <p>This server's name is: <%= @hostname %></p> 
      <p>This server's IP address is: <%= @ipaddress %></p>
  </body> 
</html>
=======
<html>
 <head>
 <title>Puppet FUBAR test</title>
 </head>
 <body>
<p>This server's name is: <%= @hostname %></p>
<p>This server's IP address is: <%= @ipaddress %></p>
 <h1>Go away World-kindly jog on</h1>
 </body>
 </html>
>>>>>>> 4c19310ef8139547144929b149823a81811f43ba
